# Generées depuis l'environnement ayant servi a valider la suite (pip freeze).
# `requirements.txt` laisse des fourchettes ; ce fichier fige ce qui est reellement vert.
amqp==5.3.1
argon2_cffi==25.1.0
argon2_cffi_bindings==26.1.0
asgiref==3.12.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
certifi==2026.7.22
cffi==2.1.1
charset_normalizer==3.5.1
click==8.5.0
click_didyoumean==0.3.1
click_plugins==1.1.1.2
click_repl==0.3.0
cryptography==50.0.1
django==5.2.17
django_allauth==65.19.2
django_filter==26.1
djangorestframework==3.18.1
drf_spectacular==0.30.0
fido2==2.2.1
idna==3.19
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema_specifications==2025.9.1
kombu==5.6.2
oauthlib==3.3.1
packaging==26.3
pluggy==1.6.0
prompt_toolkit==3.0.53
psycopg==3.3.5
psycopg_binary==3.3.5
psycopg_pool==3.3.1
pycparser==3.0
pygments==2.21.0
pyjwt==2.13.0
pytest==9.1.1
pytest_django==4.14.0
python_dateutil==2.9.0.post0
pyyaml==6.0.3
qrcode==8.2
redis==8.1.0
referencing==0.37.0
requests==2.34.2
rpds_py==2026.6.3
ruff==0.16.7
six==1.17.0
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.3
whitenoise==6.12.0
